:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#cv {
  border: 1px solid #00000088;
  display: grid;
  min-height: 110vw;
  padding: 3vh 3vw;
  width: 85vw;
}

#cv > div > div {
  display: flex;
  justify-content: space-between;
}

#cv h3 {
  justify-self: start;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #00000022;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  justify-self: center;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

fieldset {
  display: grid;
}

form {
  display: grid;
  gap: 1vh;
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
}

#root {
  display: grid;
  gap: 2vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media print {
  button {
    display: none;
  }

  #cv {
    border: none;
    height: 100vh;
    width: 100vw;
  }

  h1 {
    display: none;
  }
}
